.note {
    background: lightyellow;
    border: 1px solid yellow;
    padding: 1.2rem;
    border-radius: 10px;
    opacity: 95%;
    text-align: center;
}

a.linkedin:visited, a.linkedin:link {
    background-color: #0077b5;
    font-size: 1.5rem;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 42px;
}

a.linkedin:hover {
    background-color: #00a0dc;
}

a.github:visited, a.github:link {
    background-color: #171515;
    font-size: 1.5rem;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 42px;
}

a.github:hover {
    background-color: #454444;
}

a.instagram:visited, a.instagram:link {
    background: linear-gradient(
        150deg, 
        #405DE6, 
        #5851DB, 
        #833AB4, 
        #C13584, 
        #E1306C, 
        #FD1D1D,
        #F56040,
        #F77737,
        #FCAF45,
        #FFDC80);
    font-size: 1.5rem;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 42px;
}

a.instagram:hover {
    background: linear-gradient(
        150deg, 
        #667deb, 
        #7974e2, 
        #9c61c3, 
        #cd5d9d, 
        #e75989, 
        #fd4a4a,
        #f78066,
        #f9925f,
        #fdbf6a,
        #ffe399);
}

a.resume:visited, a.resume:link {
    background-color: #f5e653;
    font-size: 1.5rem;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 42px;
}

a.resume:hover {
    background-color: #f8ee87;
}


